html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: linear-gradient(45deg, rgb(0, 191, 255), rgb(0, 255, 0), rgb(0, 102, 255), rgb(255, 166, 0), rgb(255, 0, 170), rgba(255, 0, 0, 0.7)),
              radial-gradient(ellipse at center, rgb(0, 191, 255), rgb(0, 255, 0), rgb(0, 102, 255), rgb(255, 166, 0), rgba(255, 0, 170), rgba(255, 0, 0, 0.7));
  background-size: 200% 200%;
  background-position: 0 0;
  background-repeat: no-repeat;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}


