
@{
<p>Competência:</p>@ViewData["competencia"]
}
<div class="container">
  <div class="row">
    <div class="col">
    linha 1 - Memorizar
    </div>
    <div class="col">
    linha 1 - Compreender
    </div>
    <div class="col">
    linha 1 - Aplicar
    </div>

</div>


  <div class="row">
    <div class="col">
    linha 2 - Teste
    </div>
    <div class="col">
    linha 2 - Coluna 2
    </div>
    <div class="col">
    linha 2 - Coluna 3
    </div>

</div>



  <div class="row">
    <div class="col">
    linha 3 - Teste
     </div>
    <div class="col">
    linha 3 - Teste
    </div>
    <div class="col">
    linha 3 - Coluna 3
    </div>

</div>

 <div class="row">
    <div class="col">
    linha 4 - Coluna 1
    </div>
    <div class="col">
    linha 4 - Coluna 2
    </div>
    <div class="col">
    linha 4 - Coluna 3
    </div>

</div>

 <div class="row">
    <div class="col">
    linha 5 - Coluna 1
    </div>
    <div class="col">
    linha 5 - Coluna 2
    </div>
    <div class="col">
    linha 5 - Coluna 3
    </div>

</div>

 <div class="row">
    <div class="col">
    linha 6 - Coluna 1
    </div>
    <div class="col">
    linha 6 - Coluna 2
    </div>
    <div class="col">
    linha 6 - Coluna 3
    </div>
  
</div>

 <div class="row">
    <div class="col">
    linha 7 - Coluna 1
    </div>
    <div class="col">
    linha 7 - Coluna 2
    </div>
    <div class="col">
    linha 7 - Coluna 3
    </div>
  
</div>

 <div class="row">
    <div class="col">
    linha 8 - Coluna 1
    </div>
    <div class="col">
    linha 8 - Coluna 2
    </div>
    <div class="col">
    linha 8 - Coluna 3
    </div>
  </div>
</div>


<div class="text-center">


    <h1 class="display-4">Taxonomia de Bloom</h1>
    <form>
        Digite o verbo <input type ="text">
        <button>Cadastrar

            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Selecione o Verbo
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Memorizar</a></li>
    <li><a class="dropdown-item" href="#">Compreender</a></li>
    <li><a class="dropdown-item" href="#">Aplicar</a></li>
    <li><a class="dropdown-item" href="#">Avaliar</a></li>
    <li><a class="dropdown-item" href="#">Criar</a></li>
  </ul>
</div>
        </button>

    </form>
</div>
